body { 
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 5em;
    background-color: #ffed4b;
}

.content { 
    margin: 0 auto;
    border: 5px solid black; 
    height: 800px;

}

.searchDiv { 
    display: flex;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 50%;
    text-align: center;
    align-items: center;
}

#location {
    justify-content: center;
    margin: 10px auto; 
    width: 200px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid #fdcd3b;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #f1b708;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-box-shadow: 5px 11px 14px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 5px 11px 14px 0px rgba(0,0,0,0.35);
    box-shadow: 5px 11px 14px 0px rgba(0,0,0,0.35); 
    position:relative;
    right: 20px;
}

#location:active { 
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
    border-color: blue;
}

#btn { 
    justify-content: center;
    margin: 10px auto;
    background-color:#f1b708;
    border: none;
    padding: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: 5px 11px 14px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 5px 11px 14px 0px rgba(0,0,0,0.35);
    box-shadow: 5px 11px 14px 0px rgba(0,0,0,0.35); 
    position: relative;
    bottom: 165px;
    height: 65px;
    right: 35px;
    bottom: 1px;
}

#gif { 
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    width: 50%;
    text-align: center;
    border:1px solid black;
}


.weatherDisplay { 
    height: 300px;
    display: flex;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    align-items: center;
    flex-direction: column;
}

.weatherInfo  {
    justify-content: center;
    text-align: center;

}
.fas { 
    font-size: 16px;
    color: white;
    font-weight: 600;
    position: relative;
    
}